.benefits {
  padding: 25px 0 40px;
  @include unstyle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    outline: 2px solid lightgreen;
    padding: 10px 40px 0 70px;
    margin-bottom: 20px;

    &:first-child {
      order: -2;
    }
  }

  &__title {
    @include font(18px, 26px, 700);
    display: block;
    color: $black;
    padding-bottom: 20px;
    margin: 0;
  }

  &__text {
    margin: 0;
  }
}

@media (min-width: $tablet) {
  .benefits {
    flex-direction: row;

    &__item {
      width: 33.33%;
      padding: 160px 50px 60px;
      margin: 0;
      text-align: center;

      &:nth-child(3) {
        order: -1;
      }
    }
  }
}
