.main-btn {
  margin: 20px 20px 30px;
  padding: 17px;
  color: $white;
  background-color: $blue;
  font-family: PT Sans, Arial, sans-serif;
  @include font(21px, 26px, 700);
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  &--find-hotel {
    margin: 0;
    width: 280px;
  }

  &:hover {
    background-color: $hover-blue;
  }

  &:active {
    color: #88b6d1;
    background-color: $active-blue;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@include tablet {
  .main-btn {
    width: 42%;
    margin-left: 60px;
  }

  .main-btn--find-hotel {
    margin: 0;
  }
}

@include desktop {
  width: 42%;
  margin-left: 120px;
  margin-bottom: 44px;
}
