.feature {
  outline: 2px solid #ffcc00;
  background-color: $light-grey;
  text-align: center;
  padding: 30px 20px;
  border-bottom: 1px solid $border-grey;

  &__title {
    display: block;
    @include font(18px, 26px, 700);
    color: $black;
    padding-bottom: 15px;
    margin: 0;
  }

  &__number {
    padding-bottom: 20px;
    display: inline-block;
  }

  &__text {
    margin: 0;
  }

  &--blue {
    background-color: $blue;
    color: $white;
    padding: 40px 20px;

    .feature__title {
      color: $white;
    }
  }
}


@media (min-width: $tablet) {
  .feature {
    width: 33.33%;
    box-sizing: border-box;
  }
}
