.form-block {
  padding: 20px;
  background-color: $white;
  border-top: 1px solid $border-grey;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 30px;
  }

  &__title {
    display: block;
    @include font(18px, 26px, 700);
    color: $black;
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    padding-right: 15px;
    padding-bottom: 15px;
    line-height: 26px;
  }

  &__input-textarea {
    min-height: 160px;
    padding: 20px;
    border: none;
    @include font(18px, 26px, 700);
    resize: none;
    background-color: $input-grey;
    color: $black;
  }

  &__input-text {
    @include font(18px, 26px, 700);
    background-color: $input-grey;
    border: none;
    padding: 20px;
    color: $black;
    box-sizing: border-box;

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: white;
      outline: 4px solid #e5e5e5;
    }
  }

  &__desc {
    position: relative;
    padding: 21px 0 21px 70px;
    @include font(18px, 56px, 700);
    text-transform: none;
  }

  &__input-radio, &__input-checkbox {
    display: none;
  }

  &--rate, &--visited {
    .form-block__item {
      margin-bottom: 23px;
    }
  }

  &--name {
    .form-block__item {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      justify-content: flex-start;

      &__subtitle {
        padding: 0;
        padding-left: 15px;
      }
    }

    .form-block__input-text {
      width: 100%;
    }
  }

  &--contacts {
    .form-block__item {
      display: flex;
      flex-direction: column;

      &__subtitle {
        padding: 0;
        padding-right: 22px;
        padding-bottom: 15px;
      }
    }
  }

  &--rate {
    .form-block__desc {

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        content: "";
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $body-grey;
      }

      &::after {
        display: none;
        position: absolute;
        top: 17px;
        left: 17px;
        content: "";
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $dark-grey;
      }

      &:hover > &::before {
          background-color: #e5e5e5;
        }
      }

      &:active {
        .form-block__desc::before {
          background-color: #d5d5d5;
        }

        .form-block__desc::after {
          opacity: 0.3;
        }
      }
    }

  &--visited {
    .form-block__desc {

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        content: "";
        width: 56px;
        height: 56px;
        border-radius: 8px;
        background-color: $body-grey;
      }

      &::after {
        display: none;
        position: absolute;
        top: 17px;
        left: 17px;
        content: "";
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $dark-grey;
      }
    }
  }
}

.form-block__input-radio:checked + .form-block__desc::after {
  display: block;
}

.form-block__input-checkbox:checked + .form-block__desc::after {
  display: block;
}

@include tablet {
  .form-block {
    width: 50%;
    padding: 20px 60px;
    border: none;

    &--rate {
      order: -1;
      padding-right: 40px;

      .form-block__title {
        text-align: left;
      }
    }

    &--name {
      .form-block__title {
        text-align: left;
      }
    }

    &--contacts {
      width: 100%;

      .form-block__title {
        margin-bottom: 30px;
      }

      .form-block__subtitle {
        line-height: 40px;
        padding: 0;
      }

      .form-block__item {
        margin-bottom: 20px;
      }
    }

    &--visited {
      width: 70%;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .form-block__title {
        width: 100%;
      }
    }

    &--textarea {
      width: 100%;

      .form-block__input-textarea {
        display: block;
        height: 120px;
        padding: 20px;
        border: none;
      }
    }
  }
}

@include desktop {
  .form-block {
    padding: 20px 120px;
  }
}
