.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

@media (min-width: $tablet) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
}
