.intro {
  padding: 20px;
  color: $black;
  text-align: center;
  margin: 0 auto;

  &__title {
    @include font(18px, 26px, 700);
    margin: 0;
    padding: 20px 0 30px;
  }

  &__text {
    line-height: 26px;
    margin: 0;

    &--form, &--photo {
      line-height: 24px;
      margin: 0;
    }
  }
}


@include tablet {
  .intro {
    width: 500px;
    margin: 30px auto;

    &__title {
      @include font(21px, 26px, 700);
    }
  }

  .intro--form, .intro--photo {
    .intro__title {
      @include font(30px, 30px, 700);
    }
  }
}



