.intro {
  padding: 20px;
  color: $black;
  text-align: center;
  margin: 0 auto;

  &__title {
    @include font(18px, 26px, 700);
    margin: 0;
    padding: 20px 0 35px;
  }

  &__text {
    line-height: 26px;
    margin: 0;

    &--form, &--photo {
      line-height: 24px;
      margin: 0;
    }
  }
}


@media (min-width: $tablet) {
  .intro {
    width: 500px;
    margin-bottom: 70px;

    &__title {
      @include font(30px, 30px, 700);
    }
  }
}
