.item-gallery {
  outline: 2px solid pink;
  padding: 20px;
  border-bottom: 1px solid $border-grey;
  width: 100%;

  &__image-holder {
    outline: 1px solid red;
    font-size: 0;
  }

  &__title {
    display: block;
  }

  &__author {
    display: block;
    text-transform: none;
    margin: 5px 0 10px;
  }

  &__likes {
    display: block;
    font-weight: 700;

  }
}

@media (min-width: $tablet) {
  .item-gallery {
    padding: 0;
    width: auto;
    flex-grow: 1;

    &:first-child {
      width: 100%;

      &__image-holder {
        width: 100%;
      }
    }
  }
}

@media (min-width: $desktop) {
  .item-gallery:first-child {
    width: 100%;

    &__image-holder {
      height: 400px;
    }
  }

  .item-gallery {
    padding: 0;
    width: 33.33%;
    border: none;
  }
}
