.main-menu {
  min-height: 56px;
  text-align: center;
  background-color: $blue;
  color: $white;

  &__list {
    @include unstyle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    padding: 0 20px;

    &:hover {
      background-color: $hover-blue;
      border-top-color: #86b2cd;
      border-bottom-color: #cccccc;
    }

    &:active {
      background-color: $active-blue;
      border-top-color: #77acca;
      border-bottom-color: #cccccc;
    }

    &:active > a {
      opacity: 0.3;
    }

    &:last-child {
      background-color: white;
      border: none;
      height: 56px;
    }
  }

  &__link {
    display: inline-block;
    color: $white;
    @include font(18px, 56px, 700);
    text-decoration: none;
  }
}



@media (min-width: $tablet) {
  .main-menu {
    background-color: $white;
    color: $black;


    &__list {
      flex-direction: row;
    }

    &__item {
      border: none;
      width: 20%;

      &:last-child {
        order: 1;
      }

      &:nth-child(3), &:nth-child(4) {
        order: 2;
      }

      &:hover, &:active {
        background-color: $white;
        color: $black;
      }

      &:hover > a {
        color: $blue;
      }

      &:active > a {
        color: black;
        opacity: 0.3;
      }

      &--active {

        .main-menu__link {
          color: #766357;
        }

        &:hover > .main-menu__link {
          color: #604e43;
        }

        &:active > .main-menu__link {
          opacity: 0.3;
        }
      }
    }

    &__link {
      font-size: 14px;
      color: $black;
    }
  }
}

