.main-footer {
  text-align: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__tag {
    margin: 40px 0;
    display: inline-block;
    vertical-align: middle;
    @include font(21px, 26px, 700);
    color: $black;
  }
}

.copyright {
  margin-bottom: 20px;

  &__link {
    color: $dark-grey;
    text-decoration: none;
  }
}

.htmlacademy {
  vertical-align: middle;
  height: 43px;
  width: 43px;
  fill: $black;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}


@media (min-width: $tablet) {
  .main-footer {
    padding: 36px 60px;
    flex-direction: row;

    &__tag {
      margin: 0;
    }
  }

  .copyright {
    margin-bottom: 0;
  }
}
