.main-menu {
  outline: 2px solid pink;
  min-height: 56px;
  text-align: center;
  background-color: $blue;
  color: $white;

  &__list {
    @include unstyle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    border-bottom: 1px solid $border-grey;
    padding: 0 20px;
  }

  &__link {
    color: $white;
    @include font(18px, 56px, 700);
    text-decoration: none;

    &--logo {

    }
  }
}



@media (min-width: $tablet) {
  .main-menu {
    background-color: $white;
    color: $black;


    &__list {
      flex-direction: row;
    }

    &__item {
      border: none;

      &:last-child {
        order: 1;
      }

      &:nth-child(3), &:nth-child(4) {
        order: 2;
      }
    }

    &__link {
      font-size: 14px;
      color: $black;
    }
  }
}
