.main-footer {
  outline: 2px solid grey;
  text-align: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__tag {
    display: inline-block;
    vertical-align: middle;
    @include font(21px, 26px, 700);
    color: $black;
  }
}

@media (min-width: $tablet) {
  .main-footer {
    padding: 36px 0;
    flex-direction: row;
  }
}
