.main-header {
  position: relative;

  &__greetings {
    height: 390px;
    background-color: #ccc;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-size: 101.6% auto, auto 215px, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position-y: bottom, center, top;
    background-position-x: center;

    @include retina {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@2x.jpg");
    }

    &--photo, &--form {
      height: 160px;
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-mobile@2x.jpg");
      background-size: 101.6% auto, auto 40px, 200%;
      background-position-y: bottom, center, bottom;
      background-position-x: center;
    }
  }
}

@include tablet {
  .main-header {
    &__greetings {
      height: 520px;
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-size: 101.6% auto, auto 360px, cover;

      @include retina {
        background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@2x.jpg");
      }

      &--photo, &--form {
        height: 290px;
        background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
        background-size: 101.6% auto, auto 80px, cover;

        @include retina {
          background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@2x.jpg");
        }
      }
    }
  }
}

@include desktop {
  .main-header {
    &__greetings {
      background-image: url("http://brotherilia.github.io/sedona/img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-size: 101.6% auto, auto 360px, cover;
      // background-position: 50% bottom;

      @include retina {
        background-image: url("http://brotherilia.github.io/sedona/img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@2x.jpg");
      }

      &--photo, &--form {
        background-image: url("http://brotherilia.github.io/sedona/img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-desktop@1x.jpg");
        background-size: 101.6% auto, auto 80px, cover;

        @include retina {
          background-image: url("http://brotherilia.github.io/sedona/img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-desktop@2x.jpg");
        }
      }
    }
  }
}

