.map-holder {
  min-height: 350px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;


  include retina {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .map-holder {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    include retina {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@include tablet {
  .map-holder {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    include retina {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

}


