.pic-holder {
  outline: 2px dotted red;
  min-height: 260px;

  &--city {
    width: 100%;
    background-image: url("../img/main-city-mobile@1x.jpg");
    background-size: cover;
    background-position-y: center;

    @include retina {
      background-image: url("../img/main-city-mobile@2x.jpg");
    }
  }

  &--bridge {
    background-image: url("../img/main-bridge-mobile@1x.jpg");
    background-size: cover;
    background-position-y: center;

    @include retina {
      background-image: url("../img/main-bridge-mobile@2x.jpg");
    }
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .pic-holder {
    &--city {
      background-image: url("../img/main-city-tablet@1x.jpg");

      include retina {
      background-image: url("../img/main-city-tablet@2x.jpg");
      }
    }

    &--bridge {
      background-image: url("../img/main-bridge-tablet@1x.jpg");

      include retina {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
      }
    }
  }
}

@include tablet {
  .pic-holder {
    width: 66.66%;
    min-height: 260px;

    &--bridge {
      order: -1;
      background-image: url("../img/main-bridge-tablet@1x.jpg");

      @include retina {
        background-image: url("../img/main-bridge-tablet@2x.jpg");
      }
    }

    &--city {
      background-image: url("../img/main-city-tablet@1x.jpg");

      @include retina {
        background-image: url("../img/main-city-tablet@2x.jpg");
      }

    }
  }
}

@include desktop {
  .pic-holder {

    &--bridge {
      background-image: url("../img/main-bridge-desktop@1x.jpg");

      @include retina {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
      }
    }

    &--city {
      background-image: url("../img/main-city-desktop@1x.jpg");

      @include retina {
        background-image: url("../img/main-city-desktop@2x.jpg");
      }
    }
  }
}
