.promo-video {
  padding: 20px;
  text-align: center;
  background-color: $white;
  color: $black;

  &__title {
    @include font(18px, 26px, 700);
  }

  &__holder {
    outline: 2px solid purple;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background: url("../img/video-mobile@1x.jpg") 0 0 no-repeat;
  }
}

@media (min-width: $desktop) {
  .promo-video {
    &__holder {
      width: 66.66%;
    }
  }
}
