.social {
  outline: 2px dashed black;
  margin-bottom: 40px;
  text-align: center;

  &__list {
    @include unstyle;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    width: 48px;
    height: 48px;
    background-color: $blue;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__twi {
    width: 20px;
    height: 20px;
    padding: 14px 0;
    fill: $white;
  }
}

@media (min-width: $tablet) {
  .social {
    margin: 0;
  }
}
