.social {
  outline: 2px dashed black;
  margin: 40px 0;
  text-align: center;

  &__list {
    @include unstyle;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
  }
}

@media (min-width: $tablet) {
  .social {
    margin: 0;
  }
}
