@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff") format("woff"), url("../../fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff") format("woff"), url("../../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $dark-grey;
  background-color: $white;
}
