.container {
  margin: 0 auto;
  width: auto;
  background-color: $white;

  @media (min-width: $desktop) {
    width: 1200px;
  }

  &--form {
    margin: 0 20px;
    width: auto;

    @include tablet {
      margin: 0 60px;
    }

    @include desktop {
      margin: 0 120px;
    }
  }

  &--photo {

    @media (min-width: $tablet) {
      width: 85%;
      margin: 0 auto;
    }

    @media (min-width: $desktop) {
      width: 100%;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 100%;
    flex-direction: row;
  }
}

.flex-row {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}
