@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin unstyle() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}


@mixin retina {
  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
